<div class="container py-5 z-depth-1" style="margin-top: 90px; margin-bottom: 80px">


  <!--Section: Content-->
  <section class="text-center">

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-2">About</h3>
    <hr>

    <div class="row mt-5">
      <div class="col-lg-6">

        <!--Carousel Wrapper-->
        <div id="carousel-thumb1" class="carousel slide carousel-fade carousel-thumbnails mb-5 pb-4"
             data-ride="carousel" style="margin-left: 50px">

          <!--Slides-->
          <div class="carousel-inner text-center text-md-left" role="listbox">
            <div class="carousel-item active pictures">
              <img src="/assets/0009.jpg"
                   alt="First slide" class="img-fluid mainPictures z-depth-2">
            </div>
            <div class="carousel-item pictures">
              <img src="/assets/0010.jpg"
                   alt="Second slide" class="img-fluid mainPictures z-depth-2">
            </div>
            <div class="carousel-item pictures">
              <img src="/assets/0011.jpg"
                   alt="Third slide" class="img-fluid mainPictures z-depth-2">
            </div>
          </div>
          <!--/.Slides-->

          <!--Thumbnails-->
          <a class="carousel-control-prev" href="#carousel-thumb1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon grey"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#carousel-thumb1" role="button" data-slide="next">
            <span class="carousel-control-next-icon grey"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Thumbnails-->

        </div>

      </div>

      <div class="col-lg-5 text-center text-md-left">

        <h2
          class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
          Solar energy
        </h2>
        <br>
        <div class="font-weight-normal">
          <p class="ml-xl-0 ml-4">Solar energy — the direction of alternative energy, based on the direct use of solar radiation to generate energy in any form. Solar energy uses a renewable energy source and is "environmentally friendly", that is, it does not produce harmful waste during the active phase of use. Energy production from solar power plants is well aligned with the concept of distributed energy production.
            For most people, the solar energy industry still looks like a breakthrough made in the last decade and a half. However, the very idea and the beginning of the development of solar energy goes back almost two hundred years.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Content-->
  <div class="font-weight-normal" style="margin-left: 50px; margin-right: 50px">
    <p class="ml-xl-0 ml-4">In the world, the annual growth of energy over the past five years has averaged about 50 %. The energy obtained from solar radiation will hypothetically be able to provide 20-25% of humanity's electricity needs by 2050 and reduce carbon dioxide emissions. According to experts of the International Energy Agency (IEA), solar energy in 40 years with the appropriate level of dissemination of advanced technologies will generate about 9 thousand terawatt-hours — or 20-25% of all necessary electricity, and this will reduce carbon dioxide emissions by 6 billion tons annually.
      The prospects for using the sun to generate electricity are deteriorating due to high costs. Thus, the Aiwonpa power plant costs four times more, and generates much less electricity, compared to gas-fired power plants. According to experts, in the future, the electricity generated by this station will cost twice as much as received from conventional energy sources, and the costs will obviously be passed on to consumers.
    </p>
  </div>

  <p class="grey-text mt-5 pb-2 text-uppercase" style="margin-left: 20px">You may like also</p>

  <div class="container">


    <!--Section: Content-->
    <section>

      <style>
        .news-tile .card-title {
          position: absolute;
          bottom: 15px;
          left: 40px;
        }

        .rgba-stylish-strong {
          background-color: rgba(62, 69, 81, .5);
        }
      </style>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <!--News tile -->
          <div class="news-tile view zoom z-depth-1 rounded mb-4">

            <a href="#!" class="text-white">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(35).jpg"
                   class="img-fluid z-depth-1 rounded" alt="sample image">
              <div class="mask flex-center rgba-black-light">
                <div class="text-white text-center py-lg-5 py-0 my-0">
                  <div>
                    <h4 class="card-title font-weight-bold pt-2">
                      <strong>This is news title</strong>
                    </h4>

                    <p class="mx-5 clearfix d-none d-md-block"></p>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <!--News tile -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--News tile -->
          <div class="news-tile view zoom z-depth-1 rounded mb-4">

            <a href="#!" class="text-white">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(36).jpg"
                   class="img-fluid z-depth-1 rounded" alt="sample image">
              <div class="mask flex-center rgba-black-light">
                <div class="text-white text-center py-lg-5 py-0 my-0">
                  <div>
                    <h4 class="card-title font-weight-bold pt-2">
                      <strong>This is news title</strong>
                    </h4>

                    <p class="mx-5 clearfix d-none d-md-block"></p>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <!--News tile -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--News tile -->
          <div class="news-tile view zoom z-depth-1 rounded mb-4">

            <a href="#!" class="text-white">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(37).jpg"
                   class="img-fluid z-depth-1 rounded" alt="sample image">
              <div class="mask flex-center rgba-black-light">
                <div class="text-white text-center py-lg-5 py-0 my-0">
                  <div>
                    <h4 class="card-title font-weight-bold pt-2">
                      <strong>This is news title</strong>
                    </h4>

                    <p class="mx-5 clearfix d-none d-md-block"></p>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <!--News tile -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Content-->


  </div>


</div>
