
.intro-2 {
  background: url("src/assets/0001.jpeg")no-repeat center center;
  background-size: cover;
}

.all {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}
app-card-list {
  padding: 20px;
}
